[Desktop Entry]
Version=1.0
Name=SheetHelper
Comment=
Exec=/usr/lib/jvm/jdk1.8.0_333/bin/java -jar /home/mimatila/Downloads/SheetHelperEvo/SheetHelperEvo.jar
Path=/home/mimatila/Downloads/SheetHelperEvo/
Icon=/home/mimatila/Lataukset/SheetHelper/bundles/SheetHelper/SheetHelper.ico
Terminal=false
Type=Application
StartupNotify=true
Name[en_US]=SheetHelper
Categories=Application;
